@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: "Roboto",sans-serf;
    margin: 0;
    padding: 0;
}

/* All this is for the main header. */

#main-header {
    display: flex;
    padding: 1em;
    padding-left: 6.5em;
    justify-content: space-around;
    gap: 20em;
    background-color: #1F2937;
    color: #F9FAF8;
}

#main-header h3 {
    justify-self: flex-start;
    font-size: 24px;
}

#main-header ul {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-right: 6em;
    font-weight: 100;
    list-style: none;
}

#main-header a{
    text-decoration: none;
    color:#F9FAF8;
}

/* This is for the main part. */

#main-section {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 4em 15em;
    align-items: center;
    gap: 2em;
}

#text-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2em;
    font-size: 48px;
    width: 50%;
    gap: 0.3em;
}

#text-part p {
    font-size: 18px;
    color: #E5E7EB;
}

#text-part h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#text-part button {
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

/* This is for the cards section. */

.main-text {
    text-align: center;
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
    padding-top: 1em;
}

#main-card-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 2em 5em;
}

#main-card-container .card-picture {
    border: 4px solid #3882F6;
    border-radius: 20px;
    height: 100px;
    padding: 1em 5em;
}

#main-card-container p {
    width: 10em;
    color: #1F2937;
    padding-top: 0.5em;
}

/* This is for the quote section */

#quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    padding: 3em 10em;
}

#quote h6 {
    text-align: end;
}